spring:
  application:
    name: cwa-verification-server
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:verification
    username: sa
    password: ''
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:db/changelog.yml
feign:
  client:
    config:
      default:
        connect-timeout: 5000
        read-timeout: 5000
        logger-level: basic
jwt:
  server: http://localhost:8080
  enabled: false
springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /api/swagger
management:
  server:
    port: 8081
  endpoint:
    info:
      enabled: true
    health:
      enabled: true
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: info,health,metrics,prometheus
    jmx:
      exposure:
        include: info,health,metrics,prometheus
  health:
    probes:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
tan:
  tele:
    valid:
      hours: 1
  valid:
    days: 14
appsession:
  tancountermax: 1
entities:
  cleanup:
    days: 21
    rate: 3600000

cwa-testresult-server:
  url: http://localhost:8088
  ssl:
    enabled: false
    key-store: none
    key-store-password: none
    trust-store: none
    trust-store-password: none
